@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  @apply scroll-smooth;
}
/* Add a slash before the link text */
.link::before {
  content: "/";
}

/* Hide the slash when the link is not active */
.link:not(.footer-active)::before {
  content: none;
}

.footer-items {
  display: flex;
  gap: 7.5rem;
}
@media only screen and (max-width: 600px) {
}

.footer-active {
  color: black !important;
  font-weight: 600;
}

.Moranga {
  font-family: Moranga bold;
  font-size: 40px;
}

@media only screen and (max-width: 440px) {
  .pro-grid {
    grid-template-columns: auto;
  }
}

@layer base {
  html {
    font-family: "Josefin Sans" system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  font-family: var(--font-geist-mono);
  background: url(../public/bg/bg.mp4);
  background-position: center;
  background-size: cover;
}

.tw-shadow {
  box-shadow: 0 0 0 0.5px #e2e8f0, 0 0 0 1px rgba(226, 232, 240, 0.5),
    0 0 0 3px #f8fafc, 0 0 0 3.5px #f1f5f9, 0 10px 15px -3px rgb(59 130 246/5%),
    0 4px 6px -4px rgb(59 130 246/5%);
}

#avatar {
  background: #dcdcdc;
}

.box-shadow-btn {
  background-color: rgb(0, 0, 0);
  /* // background-color: rgb(47, 47, 47); */
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2px 4px 0px inset;
}

.active {
  color: black !important;
  font-weight: 900;

  @media (max-width: 1023px) {
    color: white !important;
    background: black;
    width: 12rem;
    height: 2.5rem;
    /* // width: 5rem;
    // height: 1rem; */
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

.link-btn {
  height: 38px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 8px;
  letter-spacing: 0.25px;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 600;
  border: medium;
  transition: all 0.2s ease-out 0s;
  background: rgb(237, 233, 233);
  color: rgb(13, 17, 23);
}

.link-btn:hover {
  transition: all 0.2s ease-out 0s;
  cursor: alias;
  background: rgb(227, 224, 224);
}

.link {
  @apply hover:underline hover:underline-offset-4;
}

.link-active {
  @apply underline underline-offset-4;
}

/* svg filter for chrome and edge */
@supports (backdrop-filter: url("#svgfilter")) {
  .nav {
    backdrop-filter: url("#svgfilter");
  }
}

/* Added this cos the svg filter wasnt working on my firefox */
@-moz-document url-prefix() {
  .nav {
    backdrop-filter: blur(4px); /* Specific to Firefox */
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 #ffd074;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #0d1117;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 9s;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller {
  max-width: 1600px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroller[data-animated="true"] .inner__scroller {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.inner__scroller {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes scroll {
  100% {
    transform: translate(calc(-50% - 0.5rem));
  }
}
